List operations

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [ ]:
# Adding an element to the list
my_list.append(6)  # Adds 6 to the end of the list
print("List after adding an element:", my_list)

List after adding an element: [1, 2, 3, 4, 5, 6]

In [ ]:
# Removing an element from the list
my_list.remove(2)  # Removes the first occurrence of 2 from the list
print("List after removing an element:", my_list)

List after removing an element: [1, 3, 4, 5, 6]

In [ ]:
# Modifying an element in the list
my_list[2] = 10  # Changes the element at index 2 (third element) to 10
print("List after modifying an element:", my_list)

List after modifying an element: [1, 3, 10, 5, 6]

In [ ]:
# Sorting the list
my_list.sort()
print("List after sorting:", my_list)

List after sorting: [1, 3, 5, 6, 10]

In [ ]:
# Checking if an element exists in the list
print("Is 10 in the list?", 10 in my_list)
print("Is 2 in the list?", 2 in my_list)

Is 10 in the list? True
Is 2 in the list? False

Dictionary operations

In [ ]:
# Creating a dictionary
my_dict = {'name': 'karan', 'age': 23, 'city': 'delhi'}
my_dict

{'name': 'karan', 'age': 23, 'city': 'delhi'}

In [ ]:
# Adding a key-value pair to the dictionary
my_dict['job'] = 'Engineer'  # Adds a new key 'job' with the value 'Engineer'
print("Dictionary after adding a key-value pair:", my_dict)

Dictionary after adding a key-value pair: {'name': 'karan', 'age': 23, 'city': 'delhi', 'job': 'Engineer'}

In [ ]:
# Removing a key-value pair from the dictionary
del my_dict['age']  # Removes the key 'age' and its value
print("Dictionary after removing a key-value pair:", my_dict)

Dictionary after removing a key-value pair: {'name': 'karan', 'city': 'delhi', 'job': 'Engineer'}

In [ ]:
# Modifying a value in the dictionary
my_dict['city'] = 'Shivajinagar'  # Changes the value of the key 'city' to 'San Francisco'
print("Dictionary after modifying a value:", my_dict)

Dictionary after modifying a value: {'name': 'karan', 'city': 'Shivajinagar', 'job': 'Engineer'}

In [ ]:
# Checking if a key exists in the dictionary
print("Is 'name' a key in the dictionary?", 'name' in my_dict)
print("Is 'age' a key in the dictionary?", 'age' in my_dict)

Is 'name' a key in the dictionary? True
Is 'age' a key in the dictionary? False

Set operations

In [ ]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [ ]:
# Adding an element to the set
my_set.add(6)  # Adds 6 to the set
print("Set after adding an element:", my_set)

Set after adding an element: {1, 2, 3, 4, 5, 6}

In [ ]:
# Removing an element from the set
my_set.remove(3)  # Removes 3 from the set
print("Set after removing an element:", my_set)

Set after removing an element: {1, 2, 4, 5, 6}

In [ ]:
# Trying to add a duplicate element to the set (will not change the set)
my_set.add(4)  # 4 is already in the set, so no change will occur
print("Set after trying to add a duplicate element:", my_set)

Set after trying to add a duplicate element: {1, 2, 4, 5, 6}

In [ ]:
# Checking if an element exists in the set
print("Is 4 in the set?", 4 in my_set)
print("Is 3 in the set?", 3 in my_set)

Is 4 in the set? True
Is 3 in the set? False